::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background: #333 !important;
    border-radius: 0 !important;
}

    ::-webkit-scrollbar-thumb:hover {
        background: #333 !important;
    }

body {
    min-height: 100vh;
    background-color: #202124;
    color: #fafafa;
    font-size: 1em;
}

a,
.btn,
.btn-toggle {
    color: #fafafa;
    text-decoration: none;
}

    a:hover,
    .btn:hover,
    .btn-toggle:hover {
        color: #0a88f3;
    }

main {
    display: flex;
    flex-direction: row;
    height: 100vh;
    max-height: 100vh;
    width: 100%;
    overflow: hidden;
}

#ui-left {
    display: flex;
}
@media (max-width: 768px) {
    #ui-left, #ui-left-bg {
        display: none;
    }
}
@media (min-width: 768px) {
    #ui-body {
        max-width: 555px;
    }
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.btn-toggle {
    display: inline-flex;
    align-items: center;
    padding: .25rem .5rem;
    font-weight: 600;
    border: 0;
}

    .btn-toggle:hover {
        background-color: #d2f4ea;
    }

    .btn-toggle::before {
        content: "\f285";
        display: inline-block;
        font-family: bootstrap-icons !important;
        font-style: normal;
        font-weight: normal !important;
        font-variant: normal;
        text-transform: none;
        vertical-align: -0.125 em;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        width: 1.25em;
        line-height: 0;
        transition: transform .35s ease;
        transform-origin: .5em 50%;
    }

    .btn-toggle[aria-expanded="true"]::before {
        transform: rotate(90deg);
    }

.btn-toggle-nav a {
    display: inline-flex;
    padding: .1875rem .5rem;
    margin-top: .125rem;
    margin-left: 1.25rem;
    text-decoration: none;
}

    .btn-toggle-nav a:hover,
    .btn-toggle-nav a:focus {
        background-color: #d2f4ea;
    }
